# 1) How would you define most powerful superhero from the information available in dataset?

In [2]:
import pandas as pd

df = pd.read_csv("superheroes_nlp_dataset.csv")

In [3]:
df.head()

,name,real_name,full_name,overall_score,history_text,powers_text,intelligence_score,strength_score,speed_score,durability_score,...,has_flight,has_accelerated_healing,has_weapons_master,has_intelligence,has_reflexes,has_super_speed,has_durability,has_stamina,has_agility,has_super_strength
0,3-D Man,"Delroy Garrett, Jr.","Delroy Garrett, Jr.",6,"Delroy Garrett, Jr. grew up to become a track ...",NaN,85,30,60,60,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,514A (Gotham),Bruce Wayne,NaN,10,He was one of the many prisoners of Indian Hil...,NaN,100,20,30,50,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,A-Bomb,Richard Milhouse Jones,Richard Milhouse Jones,20,"Richard ""Rick"" Jones was orphaned at a young ...","On rare occasions, and through unusual circu...",80,100,80,100,...,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
3,Aa,Aa,NaN,12,Aa is one of the more passive members of the P...,NaN,80,50,55,45,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Aaron Cash,Aaron Cash,Aaron Cash,5,Aaron Cash is the head of security at Arkham A...,NaN,80,10,25,40,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(1450, 81)

In [5]:
# Taking name as unique index
df["name"].isna().sum()

2

In [6]:
df.drop_duplicates('name',keep='first',inplace=True)

In [7]:
df.shape

(1449, 81)

In [8]:
df = df.dropna(subset=['name'])

In [9]:
df.shape

(1448, 81)

In [10]:
# Most powerful super hero from entire dataset
# Considering super hero having highest overall_score as most powerful

print(df[df.overall_score == df.overall_score.max()]['overall_score'])

11      ∞
153     ∞
174     ∞
376     ∞
450     ∞
482     ∞
526     ∞
795     ∞
803     ∞
809     ∞
845     ∞
882     ∞
1202    ∞
1272    ∞
1281    ∞
1289    ∞
1290    ∞
1337    ∞
Name: overall_score, dtype: object

In [11]:
# We can see that there are many super heroes having overall_score as infinity
# Will try other method. Will add intelligence_score, strength_score, speed_score, durability_score, power_score and combat_score
# and superhero with highest sum will be most powerful one
df['total_score'] = df['intelligence_score'] + df['strength_score'] + df['speed_score'] + df['durability_score'] + df['power_score']+df['combat_score']

In [12]:
print(df[df.total_score == df.total_score.max()]['total_score'])

11      600
40      600
324     600
450     600
482     600
526     600
527     600
538     600
795     600
803     600
809     600
845     600
882     600
976     600
983     600
1053    600
1281    600
1289    600
1290    600
1292    600
1293    600
1337    600
Name: total_score, dtype: int64

In [13]:
df['total_powers'] = (df['superpowers'].str.count(',')) + 1

In [14]:
df.sort_values(['overall_score','total_score','total_powers'], ascending=[False,False, False]).head(1)

,name,real_name,full_name,overall_score,history_text,powers_text,intelligence_score,strength_score,speed_score,durability_score,...,has_weapons_master,has_intelligence,has_reflexes,has_super_speed,has_durability,has_stamina,has_agility,has_super_strength,total_score,total_powers
526,Golden Master's Mech,Overlord,NaN,∞,While some of the Nindroids under Cryptor retr...,The Golden Master's Mech (also known as the Ul...,100,100,100,100,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,600,106

# Golden Master's Mech is the most powerful superhero in etire dataset

In [16]:
# Total creators
creators = df["creator"].value_counts()

In [17]:
print(creators)

Marvel Comics             615
DC Comics                 444
Shueisha                   37
Dark Horse Comics          29
Lego                       22
George Lucas               18
Image Comics               17
NBC - Heroes               16
Ubisoft                     9
J. R. R. Tolkien            8
J. K. Rowling               8
Wildstorm                   7
George R. R. Martin         7
Team Epic TV                6
HarperCollins               6
SyFy                        6
Capcom                      5
Icon Comics                 4
Mortal Kombat               4
ABC Studios                 4
Nintendo                    4
Star Trek                   4
Sony Pictures               3
Hasbro                      3
Disney                      3
Namco                       3
Cartoon Network             2
Universal Studios           2
IDW Publishing              2
Clive Barker                2
Mattel                      1
Sega                        1
Microsoft                   1
Hanna-Barbera               1
Ian Fleming                 1
Dreamworks                  1
Stephen King                1
Konami                      1
Blizzard Entertainment      1
South Park                  1
Matt Groening               1
Name: creator, dtype: int64

In [18]:
df.sort_values(['overall_score','total_score','total_powers'], ascending=[False,False, False]).head(1)

,name,real_name,full_name,overall_score,history_text,powers_text,intelligence_score,strength_score,speed_score,durability_score,...,has_weapons_master,has_intelligence,has_reflexes,has_super_speed,has_durability,has_stamina,has_agility,has_super_strength,total_score,total_powers
526,Golden Master's Mech,Overlord,NaN,∞,While some of the Nindroids under Cryptor retr...,The Golden Master's Mech (also known as the Ul...,100,100,100,100,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,600,106

In [19]:
groups = df.groupby('creator')
for creator, group in groups:
    # Most powerful superhero in each creator
    print('creator - ', creator)
    superhero = group.sort_values(['overall_score','total_score','total_powers'], ascending=[False,False, False]).head(1)
    print(superhero['name'])

creator -  ABC Studios
687    JJ Powell
Name: name, dtype: object
creator -  Blizzard Entertainment
17    A'dal
Name: name, dtype: object
creator -  Capcom
97    Asura
Name: name, dtype: object
creator -  Cartoon Network
923    Morty Smith
Name: name, dtype: object
creator -  Clive Barker
1006    Pinhead
Name: name, dtype: object
creator -  DC Comics
882    Michael Demiurgos
Name: name, dtype: object
creator -  Dark Horse Comics
1264    T-850
Name: name, dtype: object
creator -  Disney
663    Jack Sparrow
Name: name, dtype: object
creator -  Dreamworks
659    Jack Frost
Name: name, dtype: object
creator -  George Lucas
362    Darth Nihilus
Name: name, dtype: object
creator -  George R. R. Martin
1289    The Lord Of Light
Name: name, dtype: object
creator -  Hanna-Barbera
165    Birdman
Name: name, dtype: object
creator -  HarperCollins
447    Energy
Name: name, dtype: object
creator -  Hasbro
236    Bumblebee
Name: name, dtype: object
creator -  IDW Publishing
1242    Storm Shadow
Name: name, dtype: object
creator -  Ian Fleming
666    James Bond (Craig)
Name: name, dtype: object
creator -  Icon Comics
600    Hit-Girl
Name: name, dtype: object
creator -  Image Comics
845    Man Of Miracles
Name: name, dtype: object
creator -  J. K. Rowling
1025    Professor Dumbledore
Name: name, dtype: object
creator -  J. R. R. Tolkien
450    Eru Iluvatar
Name: name, dtype: object
creator -  Konami
421    Dracula
Name: name, dtype: object
creator -  Lego
1113    Ronin (Ninjago)
Name: name, dtype: object
creator -  Marvel Comics
1337    True Form Oblivion
Name: name, dtype: object
creator -  Matt Groening
1252    Superking
Name: name, dtype: object
creator -  Mattel
1184    Skeletor
Name: name, dtype: object
creator -  Microsoft
859    Master Chief
Name: name, dtype: object
creator -  Mortal Kombat
1153    Shao Kahn
Name: name, dtype: object
creator -  NBC - Heroes
18    Adam Monroe
Name: name, dtype: object
creator -  Namco
369    Deacons Of The Deep
Name: name, dtype: object
creator -  Nintendo
801    Link
Name: name, dtype: object
creator -  Sega
1195    Sonic The Hedgehog
Name: name, dtype: object
creator -  Shueisha
598    Hinata Hyūga
Name: name, dtype: object
creator -  Sony Pictures
1209    Spider-Man (Raimi Trilogy)
Name: name, dtype: object
creator -  South Park
264    Captain Hindsight
Name: name, dtype: object
creator -  Star Trek
1216    Spock
Name: name, dtype: object
creator -  Stephen King
655    IT
Name: name, dtype: object
creator -  SyFy
158    Bill Harken
Name: name, dtype: object
creator -  Team Epic TV
857    Master Brood
Name: name, dtype: object
creator -  Ubisoft
459    Ezio Auditore da Firenze
Name: name, dtype: object
creator -  Universal Studios
359    Darkman
Name: name, dtype: object
creator -  Wildstorm
41    Allan Quatermain
Name: name, dtype: object

 # Most powerful superhero in each creator

# 2)Find the top 5 superpowers in descending order.

In [20]:

# Column name starting with 'has_' are denoting super powers

superpowers_df = df.loc[:, df.columns.str.startswith('has')].dropna()
superpowers_df.columns = superpowers_df.columns.str.replace(r'has_', '')
# Do transpose
superpowers_df = superpowers_df.T.reset_index()

In [21]:
superpowers_df['total'] = superpowers_df.sum(axis=1)
superpowers_df.sort_values('total',ascending=False, inplace=True)

C:\Users\Nikita\AppData\Local\Temp\ipykernel_6360\248861164.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  superpowers_df['total'] = superpowers_df.sum(axis=1)

In [22]:
superpowers_df.head(5)

,index,0,1,2,3,4,5,6,7,8,...,1440,1441,1442,1444,1445,1446,1447,1448,1449,total
48,agility,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,778.0
47,stamina,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,737.0
49,super_strength,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,731.0
46,durability,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,708.0
43,intelligence,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,599.0

# Above are the top 5 superpowers in descending order

# 3)	Which race has the most immortal superheroes?

In [23]:
# Total creators
race = df["type_race"].value_counts()

In [24]:
print(race)

Human              529
Mutant              99
God / Eternal       43
Metahuman           42
Alien               31
                  ...
Lego                 1
Zen-Whoberian        1
Kakarantharaian      1
Human / Cosmic       1
Yoda's species       1
Name: type_race, Length: 67, dtype: int64

In [25]:
df_immortal = df[['type_race','has_immortality']].copy()

In [26]:
df_immortal.dropna()

     type_race  has_immortality
0        Human              0.0
2        Human              0.0
3        Human              0.0
4        Human              0.0
5      Twi'lek              0.0
...        ...              ...
1441     Alien              0.0
1442    Mutant              0.0
1444   Android              1.0
1445     Human              0.0
1446     Robot              0.0

[1028 rows x 2 columns]

In [27]:
df_immortal_grp = df_immortal.groupby(['type_race'])['has_immortality'].sum()

In [28]:
df_immortal_grp.sort_values(ascending=False)

type_race
God / Eternal    36.0
Human            29.0
Demon            18.0
New God          11.0
Cosmic Entity     8.0
                 ...
Alpha             0.0
Human-Spartoi     0.0
Human-Inhuman     0.0
Frost Giant       0.0
Human-Vulcan      0.0
Name: has_immortality, Length: 67, dtype: float64

# 'God / Eternal' race has the most immortal superheroes

# 4)Name the creator having most superheroes of type “Parademon”.

In [29]:
# Selecting the type_race as 'Parademon'
df_parademon = df.loc[df['type_race'] == 'Parademon']

In [30]:
df_parademon['creator']

991    DC Comics
Name: creator, dtype: object

# DC Comics is the creator having most superheroes of type “Parademon”.

# 5)Which comic creator has most superhero teams?

In [32]:
groups_by_creator = df.groupby('creator')
for creator, group in groups_by_creator:
    teams_list = []
    max_list_length = 0
    for index, row in df.iterrows():
        teams_list.extend(row['teams'])
    teams_set = set(teams_list)
    if len(teams_set) > max_list_length:
        max_list_length = len(teams_set)
        max_team_creator = creator
print(max_team_creator)

Wildstorm

# Wildstorm creator has most superhero teams